doctype 5
html
	head
		title= title
		script(src='http://cdn.alloyui.com/2.0.0/aui/aui-min.js')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='http://cdn.alloyui.com/2.0.0/aui-css/css/bootstrap.min.css')
	body
		a.home-link(href="/home") Home

		block content