div.nav-bar
	div.nav-container
		div.nav-item.selected(data-navid="welcome")
			span.nav-item-text Welcome
		div.nav-item(data-navid="portfolio")
			span.nav-item-text Portfolio
		div.nav-item(data-navid="interests")
			span.nav-item-text Interests
		div.nav-item
			a.nav-item-text(href="newuser") New User
		div.nav-item
			a.nav-item-text(href="userlist") User List
		div.nav-slider

script(src='/javascripts/main.js')